html,
body {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #01A3A4 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.card__container{
 display: flex;
 justify-content: center;
}
.card__main{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 70%;
    margin-bottom: 79px;
    padding: 58px 58px 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 8px;
    border-color: #1f2024;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: -3px 3px 0 0 #1f2024;
    text-align: center;

}
.mint__cardimage{
  width: 200px;
  margin: -120px auto 16px;
  border: 5px solid #000;
  border-radius: 100px;
}
.mint__cardimage img{
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.card__main h1{
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}